# {{ ansible_managed }}
#!/bin/sh
#
#     SUSE system statup script for Fitnesse
#
#     This library is free software; you can redistribute it and/or modify it
#     under the terms of the GNU Lesser General Public License as published by
#     the Free Software Foundation; either version 2.1 of the License, or (at
#     your option) any later version.
#
#     This library is distributed in the hope that it will be useful, but
#     WITHOUT ANY WARRANTY; without even the implied warranty of
#     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
#     Lesser General Public License for more details.
#
#     You should have received a copy of the GNU Lesser General Public
#     License along with this library; if not, write to the Free Software
#     Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307,
#     USA.
#
### BEGIN INIT INFO
# Provides:          Fitnesse
# Required-Start:    $local_fs $remote_fs $network $time $named
# Should-Start: $time sendmail
# Required-Stop:     $local_fs $remote_fs $network $time $named
# Should-Stop: $time sendmail
# Default-Start:     3 5
# Default-Stop:      0 1 2 6
# Short-Description: Fitnesse
# Description:       Fitnesse
### END INIT INFO
# Source function library.
. /etc/init.d/functions

FITNESSE_PID_FILE="/var/run/fitnesse.pid"


JAVA_APP=fitnesse-standalone.jar
JAVA_OPTS="-Xms{{ fitnesse_xms|default('128M') }} -Xmx{{ fitnesse_xmx|default('512M') }} -server"
APP_OPTS=-p {{ fitnesse_port }}
LOGFILE=/var/log/fitnesse/java.log
FITNESSE_ROOT=/opt/fitnesse/

start() {
	echo "Starting FitNesse ..."
  /usr/bin/java -cp $JAVA_OPTS -jar $FITNESSE_ROOT$JAVA_APP $APP_OPTS >> $LOGFILE 2>&1 &
}
stop() {
        echo "Shutting down FitNesse..."
        java -cp /usr/bin/java $JAVA_OPTS -jar $FITNESSE_ROOT$JAVA_APP $APP_OPTS >> $LOGFILE 2>&1 &
}

case $1 in

start)
      	start;;
stop)
     	stop;;
restart)
        stop
	start;;
*)
  	echo "$1 is not a valid command."
        echo "Usage: fitnesse.sh start|stop|restart [options]"
        exit 1 ;;
esac
