# {{ ansible_managed }}
#! /bin/sh
#
# A script to start and stop FitNesse.


JAVA_APP=fitnesse-standalone.jar
JAVA_OPTS="-Xms{{ fitnesse_xms|default('128M') }} -Xmx{{ fitnesse_xmx|default('512M') }} -server"
APP_OPTS="-p {{ fitnesse_port }}"
LOGFILE=/var/log/fitnesse/java.log
FITNESSE_ROOT=/opt/fitnesse/

start() {
	echo "Starting FitNesse ..."
  java -cp /usr/bin/java $JAVA_OPTS -jar $FITNESSE_ROOT$JAVA_APP $APP_OPTS >> $LOGFILE 2>&1 &
}
stop() {
        echo "Shutting down FitNesse..."
        java -cp /usr/bin/java $JAVA_OPTS -jar $FITNESSE_ROOT$JAVA_APP $APP_OPTS >> $LOGFILE 2>&1 &
}

case $1 in

start)
      	start;;
stop)
     	stop;;
restart)
        stop
	start;;
*)
  	echo "$1 is not a valid command."
        echo "Usage: fitnesse.sh start|stop|restart [options]"
        exit 1 ;;
esac
